* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.fullscreen-container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(9, 9, 100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-container {
    background-color: rgba(165, 42, 42, 0.65);
    padding: 50px 40px;
    width: 50%;
    max-width: 500px;
    max-width: 400px;
}

.signup-title {
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
    font-size: 2em;
    font-weight:normal;
}

.signup-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.signup-group label {
    color: white;
    margin-bottom: 8px;   
}

.signup-group input {
    background-color: hsla(202, 18%, 88%, 0.5);
    border: none;
    outline: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.signup-button {
    background-color: rgba(196, 61, 61, 0.5);
    outline: none;
    border: 1px solid blue;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    padding: 10px 10px;
    color: white;
    font-size: 1.5em;
    font-weight: lighter;
    border-radius: 10px;
}

.signup:hover {
    background-color: rgb(129, 57, 57);
}

::placeholder {
    color: white;
    opacity: 0.5;
}

.signin-redirect {
    background-color: rgba(196, 61, 61, 0.5);
    outline: none;
    border: 1px solid blue;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 7px;
    padding: 10px 10px;
    color: white;
    font-size: 1.5em;
    border-radius: 10px;
}

.or {
    margin: 0;
    color: white;
    text-align: center;
    overflow: hidden;
    font-weight: 300;
}

.or:before, .or:after {
    content: "";
    display: inline-block;
    width: 50%;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid;
  }
  .or:after {
    margin: 0 -55% 0 .5em;
  }